@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
/*** FONTS ***/
body
{
	font-family: 'Roboto', sans-serif;
	
}
*
{
	
	list-style: none;
	padding:0;
	margin:0;
	
}

a
{
	text-decoration:none;
	color: black;
	
}
strong
{
	
	text-decoration: none;
}
em
{
	
	font-style: normal;
}
#body
{
    min-width: 236px;
}
/**** BASES ****/
/*** LOADER PAGE ***/
@keyframes loader {
  0%{
    opacity: 1;
    z-index: 100;
  }
  50%{
    opacity: 1;
    z-index: 100;
  }
  100%{
    opacity: 0;
    display: none;
  }
}




#loader
{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: #ffffffe6;
  animation-name: loader;
  animation-duration: 3s;
  
  opacity: 0;
}
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  
}
.loader div {
  position: absolute;
  top: 33px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background-color: #9356DC
}
.loader div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: #FF79DA;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: #99E2D0;
  z-index: 1;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  background-color: #9356DC;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/************* LOGO HEADER *************/
header 
{
    
  width: 100%;

  display: flex;
  justify-content: center;
    
  padding-bottom: 10px;
  padding-top: 20px;

  box-shadow: 0px 2px 5px rgb(201, 201, 201);
  position: relative;
    
}

#logo /** taille du logo modifié **/
{
  width: 200px;
}

/************* Section localization **************/
#localization
{
  width: 100%;
    
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
    
  background-color: rgb(234, 234, 234);
    
    
}
.localization
{
  font-size: larger;
  font-weight: 500;
  
  margin-left: 15px;
  
  padding-right: 20px;
  
}
.fa-map-marker-alt
{
  font-size: larger;
}

/*********** Section explore_restaurants ************/
#explore_restaurants
{
    
  width: 100%;
  height: 230px;
  
  text-align: center;
  
  padding-top: 40px;
  
  background-color: rgb(246, 246, 246);
  
}
#explore_restaurants h2
{
 
  margin-bottom: 15px;
  
  font-size: 28px;
    
}
#explore_restaurants p 
{
  margin-bottom: 40px;
  
  font-weight: 300;
  font-size: 19px;
}
/*** BUTTON ***/
.buttons 
{
    
  border-radius: 100px;
  color: #fff;
  background: linear-gradient(1deg,#9356DC,#FF79DA);
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 5px 5px lightgray;
  

}
.buttons:hover 
{
  background: linear-gradient(1deg,#9c5fe7,#fa8fdc);
  transition: all 0.2s ease;
  box-shadow: 0px 5px 8px rgb(165, 164, 164);
   
}

/*********** TUTORIAL ************/
#tutorial
{
  width: auto;
  
  margin: auto;
  
  padding: 50px 25px 50px 25px;
  
  max-width: 768px;
}
#tutorial_list
{
  
  width: 100%;
  
  display: flex;
  flex-direction: column;
  
  max-width: 400px;
  
}
#tutorial h2
{
  font-size: 30px;
  
  margin-bottom: 20px;
  
  max-width: 768px;
  
}

/*** GESTIONS DES ELEMENTS ***/
.tutorial_list
{
  background-color: rgb(246, 246, 246);
  padding: 30px 0px 25px 30px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px gainsboro;
  
  

}
.tutorial_number
{
  padding: 7px 10px 3px 10px;
  
  position:relative;
  left: -45px;
  
  border-radius: 50%;
  background-color: rgb(147, 86, 220);
  color: #fff;
}
.fa-mobile-alt,.fa-list-ul,.fa-store
{
  color: gray;
  font-size: large;

  margin-left: -30px;
}
.steps
{
  color: black ;
  font-size: 16px;
  
  margin-left: 20px;
}

.tutorial_list:hover .fas  
{
  
  color: rgb(147, 86, 220) ;
  
}
.tutorial_list:hover
{
  background-color: rgb(245, 237, 255);
}

/************* RESTAURANTS **************/

#restaurants
{
  width: auto;
  height: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 50px 25px 50px 25px;
  
  margin: auto;
  
  background-color: rgb(246, 246, 246);
  
}

#restaurants h2
{
  width: 100%;
  
  margin-bottom: 25px;
  
  max-width: 768px;
  
  font-size: 30px;
}
#restaurants article
{
  width: 100%;
  height: 290px;
  
  max-width: 768px;
  
  position: relative;
  
  margin-bottom: 30px;
  
  display: flex;
  flex-direction: column;
  
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  box-shadow: gainsboro 0px 5px 5px;
}
#restaurants img 
{
  width: 100%;
  height: 200px;
  
  object-fit: cover;
  
  border-radius: 15px 15px 0px 0px;
    
}
#restaurants h3
{
  width: 155px;
  
  margin: 20px 0px 5px 10px;
}
#restaurants p 
{
  width: 120px;
  
  margin-left: 10px;
}
.fa-heart
{
  width: auto;
  
  font-size: xx-large;
}
.hearts /*** LIEN FAVORIS COEUR ***/
{
  align-self: flex-end;
  
  padding-right: 35px;
  padding-left: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  
  margin-top: -80px;
  
}
@keyframes progress-heart
   {
     to
    {
      font-weight: 900;
      color: rgb(170, 9, 9);

    }

}
.hearts:active .fa-heart
{
  animation-name: progress-heart;
  
  

}



.new
{
  position: absolute;
  
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  
  font-weight: 700;
  font-size: 17px;
  
  border-radius: 3px;
  
  top: 15px;
  right: 15px;
  
  padding: 10px 17px 10px 17px;
  
}

/****************** FOOTER *****************/
footer
{
  background-color: rgb(53, 53, 53);
  width: 100%;
  height: 210px;
    
    
}
#footer
{
    
    
  width: auto;
  height: 200px;
  
  max-width: 1024px;
  
  margin: auto;
    
    
}
#footer h2
{

  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
  color: #fff;
  
  padding-top: 20px;
  padding-bottom: 15px;
  
  margin-left: 20px;

}
footer ul li a
{

  color: #fff;
    
  font-family: 'Roboto', sans-serif;
    
}

#footer ul 
{
    
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  height: 100px;
  
  margin-left: 20px;
    
}
.fa-utensils
{
  padding-right: 7px;
  
  color: #fff;
}
.fa-hands-helping
{
  font-size: small;
  
  padding-right: 3px;
  color: #fff;
}
#footer a:hover 
{
  color:  #9356DC;
}

/****************** MEDIA QUERIES *****************/

@media all and (max-width: 322px)

{
  
  #explore_restaurants
  
  {
    height: 280px;
    
  }
}
  
@media all and (min-width: 769px)
{
  #tutorial_list
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width: 100%;
    
    margin: auto;
    
    max-width: 991px;
    
  }
  .tutorial_list
  {
    padding-right: 60px;
    margin-right: 30px;
  }
  .tutorial_list:nth-child(3)
  {
    margin-right: 0;
  }
  #tutorial
  {
    
    max-width: none;
    
    
  }
  #tutorial h2 
  {
    max-width: 991px;
    
    margin: auto;
    margin-bottom: 20px;
  }
}